@page illust-04 {
  margin: 0;
}
.illust_04 {
  page: illust_04;
  /*
  .chapter-warapper {
      position: relative;
      top: 3.5mm * 4;
      left: -3.5mm * 2;
      transform:rotate(90deg);
      display: inline-block;
      //width: 188mm;
      .chapter-bar {
          position: relative;
          display: inline-block;
          background-color: black;
          //border-top: 0.5mm solid black;
          //border-left: 0.5mm solid black;
          //border-right: 0.5mm solid black;
          width: 3.5mm * 11;
          height: 3.5mm * 6;
          top: 4mm + 3.5mm * 1;
          left: 3mm + 3.5mm * 2;
          padding: 0.3mm;
      }
      .chapter-number {
          position: relative;
          display: inline-block;
          top: 0;
          line-height: 3.5mm * 3;
          width: 100%;
          text-align: center;
          color: white;
          font-size: 1.2rem;
          letter-spacing: 0.05rem;
          font-weight: 700;
          margin-bottom: 1rem;
      }
      .chapter-title {
          position: relative;
          top: 3.5mm * 2;
          width: 3.5mm * 12;
          height: 3.5mm * 2;
          line-height: 3.5mm * 2;
          text-align: right;
          font-size: 6pt;
          //padding-right: 3mm + 7mm;
          //line-height: 1.5rem;
      }
      .chapter-text {
          position: relative;
          top: 3.5mm * 2;
          width: 3.5mm * 12;
          height: 4mm + 3.5mm * 2;
          text-align: right;
          //padding-right: 3mm + 7mm;
          line-height: 1.5rem;
      }
  }*/
}
.illust_04 .hidden-page-number {
  display: inline-block;
  width: 3.5mm;
  height: 3.5mm;
  background-color: red;
  visibility: hidden;
}
.illust_04 .hidden-page-number:before {
  content: counter(page);
}
.illust_04 .page-header {
  position: absolute;
  top: 0;
  left: 115mm;
  width: 63mm;
  border-left: 0.5mm solid black;
  padding-top: 7.5mm;
  padding-left: 3.5mm;
  padding-right: 3.5mm;
}
.illust_04 .page-header .illust-author {
  font-family: "Inter", "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1;
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.illust_04 .page-header .social {
  font-family: "Inter", sans-serif;
  font-size: 6pt;
}
.illust_04 .illust-title {
  font-family: "Noto Sans JP", sans-serif;
  max-width: 140mm;
  margin: 0.5rem auto;
}
.illust_04 .illust-image {
  width: 154mm;
  margin-top: 21.5mm;
  margin-left: 17mm;
  margin-right: 0;
  margin-bottom: 0;
}
.illust_04 .illust-image-page-left {
  width: 154mm;
  margin-top: 21.5mm;
  margin-left: 13.5mm;
  margin-right: 0;
  margin-bottom: 0;
}
.illust_04 .illust-image-page-right {
  width: 154mm;
  margin-top: 21.5mm;
  margin-left: 20.5mm;
  margin-right: 0;
  margin-bottom: 0;
}
.illust_04 .illust-message {
  margin-left: 17mm;
}
.illust_04 .illust-message-page-left {
  margin-left: 13.5mm;
}
.illust_04 .illust-message-page-right {
  margin-left: 20.5mm;
}
.illust_04 .illust-image-middle {
  display: table;
  width: 154mm;
  height: 200mm;
  margin: 21.5mm auto 0;
}
.illust_04 .illust-image-middle .illust-image-column {
  display: table-cell;
  vertical-align: middle;
}
.illust_04 .illust-image-middle .illust-image-column .illust-message {
  margin-left: 0;
}
.illust_04 .illust-image-middle-page-right {
  display: table;
  width: 154mm;
  height: 200mm;
  margin-top: 21.5mm;
  margin-left: 20.5mm;
  margin-right: auto;
  margin-bottom: 0;
}
.illust_04 .illust-image-middle-page-right .illust-image-column {
  display: table-cell;
  vertical-align: middle;
}
.illust_04 .illust-image-middle-page-right .illust-image-column .illust-message {
  margin-left: 0;
}
.illust_04 .illust-image-right {
  width: 154mm;
  margin: 18mm auto 0;
}
.illust_04 .illust-image-right-page-right {
  width: 154mm;
  margin-top: 18mm;
  margin-left: 20.5mm;
  margin-right: auto;
  margin-bottom: 0;
}
.illust_04 .chapter-warapper {
  position: absolute;
  top: 35mm;
  left: 161mm;
  transform: rotate(270deg);
  display: inline-block;
}
.illust_04 .chapter-warapper .chapter-bar {
  position: relative;
  display: inline-block;
  width: 38.5mm;
  height: 21mm;
  top: 7.5mm;
  left: 10mm;
  padding: 0 0.3mm 0.3mm 0.3mm;
  border-left: 0.5mm solid black;
  border-right: 0.5mm solid black;
}
.illust_04 .chapter-warapper .chapter-number {
  position: relative;
  display: inline-block;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.illust_04 .chapter-warapper .chapter-title {
  position: relative;
  top: 7mm;
  width: 42mm;
  height: 7mm;
  line-height: 7mm;
  text-align: right;
  font-size: 6pt;
}
.illust_04 .chapter-warapper .chapter-text {
  position: relative;
  top: 7mm;
  width: 42mm;
  height: 11mm;
  text-align: right;
  line-height: 1.5rem;
}

/*# sourceMappingURL=illust_04.css.map */
