@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/notosansjp.css");

@page {
  size: JIS-B5;
  margin: 0;

  //background-size: contain;
  //background-image: url("file:///Users/dolphilia/Documents/github/vivliostyle-theme-migazine/example/B5_honbun_color_tpl.png");
  // ページ番号
  @top-left-corner {
    content: counter(page);
    top: 248mm;
    left: 94mm;
    font-size: 0.6rem;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    vertical-align: middle;
  }
}

html {
  font-family: "Inter", "Noto Sans JP", sans-serif;
  font-size: 9pt;
}

@import 'inside-cover_01';
@import 'toc_01';
@import 'list-of-works_01';
@import 'illust_01';
@import 'illust_02';
@import 'colophon_01';
@import 'text_01';
