@page chapter_04 {
    //margin: 40mm 60mm;
}

p {
    margin-top: 0;
}

.chapter_04 {
    page: chapter_04;
    .chapter-warapper {
        display: block;
        width: 188mm;
        .chapter-bar {
            position: relative;
            display: inline-block;
            //background-color: black;
            border-bottom: 1mm solid black;
            width: 3.5mm * 12;
            height: 3.5mm * 2;
            top: 4mm + 3.5mm * 1;
            left: 0;
        }
        .chapter-number {
            position: relative;
            display: inline-block;
            top: 0;
            line-height: 3.5mm * 2;
            width: 100%;
            text-align: right;
            //color: white;
            font-size: 1.4rem;
            letter-spacing: 0.05rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .chapter-title {
            position: relative;
            top: 3.5mm * 2;
            width: 3.5mm * 12;
            height: 3.5mm * 2;
            line-height: 3.5mm * 2;
            text-align: right;
            font-size: 6pt;
            //padding-right: 3mm + 7mm;
            //line-height: 1.5rem;
        }
        .chapter-text {
            position: relative;
            top: 3.5mm * 2;
            width: 3.5mm * 12;
            height: 4mm + 3.5mm * 2;
            text-align: right;
            //padding-right: 3mm + 7mm;
            line-height: 1.5rem;
        }
    }
}