@page illust-04 {
}

.illust_04 {
    page: illust_04;

    .hidden-page-number {
        &:before {
            content: counter(page);
        }
        display: inline-block;
        width:3.5mm;
        height:3.5mm;
        background-color: red;
        visibility: hidden;
    }
    .page-header {
        position: absolute;
        top: 0;
        left: 3mm + 3.5mm * 32;
        width: 3.5mm * 18;
        border-left: 0.5mm solid black;
        padding-top: 4mm + 3.5mm;
        padding-left: 3.5mm;
        padding-right: 3.5mm;
        .illust-author {
            font-family: "Inter", "Noto Sans JP", sans-serif;
            font-weight: 700;
            font-size: 1.2rem;
            line-height: 1;
            vertical-align: top;
            margin-top: 0;
            margin-bottom: 0.5rem;
        }
        .social {
            font-family: "Inter", sans-serif;
            font-size: 6pt;
        }
    }

    .illust-title {
        font-family: "Noto Sans JP", sans-serif;
        max-width: 140mm;
        margin: 0.5rem auto;
    }

    .illust-image {
        width: 3.5mm * 44;
        margin-top: 4mm + 3.5mm * 5;
        margin-left: 3mm + 3.5mm * 4;
        margin-right: 0;
        margin-bottom: 0;
    }

    .illust-image-page-left {
        width: 3.5mm * 44;
        margin-top: 4mm + 3.5mm * 5;
        margin-left: 3mm + 3.5mm * 3;
        margin-right: 0;
        margin-bottom: 0;
    }

    .illust-image-page-right {
        width: 3.5mm * 44;
        margin-top: 4mm + 3.5mm * 5;
        margin-left: 3mm + 3.5mm * 5;
        margin-right: 0;
        margin-bottom: 0;
    }

    .illust-message {
        margin-left: 3mm + 3.5 * 4;
    }

    .illust-message-page-left {
        margin-left: 3mm + 3.5 * 3;
    }

    .illust-message-page-right {
        margin-left: 3mm + 3.5 * 5;
    }

    .illust-image-middle {
        display: table;
        width: 3.5mm * 44;
        height: 200mm;
        margin: calc(4mm + 3.5mm * 5) auto 0;
        .illust-image-column {
            display: table-cell;
            vertical-align: middle;
            .illust-message {
                margin-left: 0;
            }
        }
    }

    .illust-image-middle-page-left {
        display: table;
        width: 3.5mm * 44;
        height: 220mm;
        margin-top: calc(4mm + 3.5mm * 5);
        margin-left: 3mm + 3.5mm * 3;
        margin-right: auto;
        margin-bottom: 0;

        .illust-image-column {
            display: table-cell;
            vertical-align: middle;
            .illust-message {
                margin-left: 0;
            }
        }
    }

    .illust-image-middle-page-right {
        display: table;
        width: 3.5mm * 44;
        height: 220mm;
        margin-top: calc(4mm + 3.5mm * 5);
        margin-left: 3mm + 3.5mm * 5;
        margin-right: auto;
        margin-bottom: 0;

        .illust-image-column {
            display: table-cell;
            vertical-align: middle;
            .illust-message {
                margin-left: 0;
            }
        }
    }

    .illust-image-right {
        width: 3.5mm * 44;
        margin: calc(4mm + 3.5mm * 4) auto 0;
    }

    .illust-image-right-page-right {
        width: 3.5mm * 44;
        margin-top: calc(4mm + 3.5mm * 4);
        margin-left: 3mm + 3.5mm * 5;
        margin-right: auto;
        margin-bottom: 0;
    }


    

    img {}

    //--- Left

    /*
    .chapter-warapper {
        position: relative;
        top: 3.5mm * 4;
        left: -3.5mm * 2;
        transform:rotate(90deg);
        display: inline-block;
        //width: 188mm;
        .chapter-bar {
            position: relative;
            display: inline-block;
            background-color: black;
            //border-top: 0.5mm solid black;
            //border-left: 0.5mm solid black;
            //border-right: 0.5mm solid black;
            width: 3.5mm * 11;
            height: 3.5mm * 6;
            top: 4mm + 3.5mm * 1;
            left: 3mm + 3.5mm * 2;
            padding: 0.3mm;
        }
        .chapter-number {
            position: relative;
            display: inline-block;
            top: 0;
            line-height: 3.5mm * 3;
            width: 100%;
            text-align: center;
            color: white;
            font-size: 1.2rem;
            letter-spacing: 0.05rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .chapter-title {
            position: relative;
            top: 3.5mm * 2;
            width: 3.5mm * 12;
            height: 3.5mm * 2;
            line-height: 3.5mm * 2;
            text-align: right;
            font-size: 6pt;
            //padding-right: 3mm + 7mm;
            //line-height: 1.5rem;
        }
        .chapter-text {
            position: relative;
            top: 3.5mm * 2;
            width: 3.5mm * 12;
            height: 4mm + 3.5mm * 2;
            text-align: right;
            //padding-right: 3mm + 7mm;
            line-height: 1.5rem;
        }
    }*/

    //--- Right

    .chapter-warapper {
        position: absolute;
        top: 3.5mm * 10;
        left: 3.5mm * 46;
        transform:rotate(270deg);
        display: inline-block;
        .chapter-bar {
            position: relative;
            display: inline-block;
            //background-color: black;
            width: 3.5mm * 11;
            height: 3.5mm * 6;
            top: 4mm + 3.5mm * 1;
            left: 3mm + 3.5mm * 2;
            padding: 0 0.3mm 0.3mm 0.3mm;

            border-left: 0.5mm solid black;
            border-right: 0.5mm solid black;
        }
        .chapter-number {
            position: relative;
            display: inline-block;
            top: 0;
            //line-height: 3.5mm * 3;
            width: 100%;
            text-align: center;
            //color: white;
            font-size: 1.2rem;
            letter-spacing: 0.05rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .chapter-title {
            position: relative;
            top: 3.5mm * 2;
            width: 3.5mm * 12;
            height: 3.5mm * 2;
            line-height: 3.5mm * 2;
            text-align: right;
            font-size: 6pt;
            
        }
        .chapter-text {
            position: relative;
            top: 3.5mm * 2;
            width: 3.5mm * 12;
            height: 4mm + 3.5mm * 2;
            text-align: right;
            line-height: 1.5rem;
            
        }
    }
}