@page illust_01 {
    margin: 0;
}

.illust_01 {
    page: illust_01;

    .page-header {
        max-width: 3.5mm * 42;
        margin: calc(4mm + 3.5mm * 2) auto 1rem;
        display: flex;

        .illust-author {
            flex: 1;
            font-family: "Inter", "Noto Sans JP", sans-serif;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 1;
            vertical-align: top;
            margin-top: 0;
        }

        .social {
            flex: 2;
            font-family: "Inter", sans-serif;
            font-size: 0.8rem;
            text-align: right;
        }
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 3.5mm * 42;
    }

    .illust-title {
        font-family: "Noto Sans JP", sans-serif;
        max-width: 3.5mm * 42;
        margin: 0.5rem auto;
    }

    .illust-message {
        font-family: "Noto Sans JP", sans-serif;
        font-size: 0.8rem;
        max-width: 3.5mm * 42;
        margin: 0.5rem auto;
    }
}