@page inside-cover_01 {}

.inside-cover_01 {
  page: inside-cover;
  .inside-cover-wrapper {
    display: inline-block;
    position: absolute;
    top: 4mm + 3.5mm * 32;
    left: 3mm + 3.5mm * 20;
    padding: 3.5mm 7mm;
    border: 0.5mm solid black;
    text-align: center;
  }
}