@page list-of-works-01 {}

.list-of-works_01 {
    page: low;

    ul {
        display: flex;
        flex-direction: row;
    }

    li {
        list-style-type: none;
        width: 35mm;
        //background-color: #ddd;
        margin-left: 3mm;

        a {
            color: black;
            display: flex;
            flex-direction: column;
            width: 100%;
            text-decoration: none;
            break-inside: avoid;
            align-items: baseline;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 25mm;
                max-height: 25mm;
            }
        }
    }
}