@page text_01 {
    //margin-left: 18mm;
    //margin-right: 18mm;
    margin-top: 18mm; // 4mm + 3.5mm * 4
    margin-bottom: 31mm; // 3mm + 3.5mm * 7
}

// ページ番号
@page text_01:left {
    @top-left-corner {
      content: counter(page);
      top: 3.5mm * 66;
      left: 3mm + 3.5mm * 3;
      //left: 94mm;
      font-size: 0.6rem;
      height: 3.5mm;
      width: 3.5mm;
      text-align: center;
      vertical-align: middle;
      background-color: rgba(255,255,255, 60%);
    }
  }
  
  @page text_01:right {
    @top-left-corner {
      content: counter(page);
      top: 3.5mm * 66;
      left: 3mm + 3.5mm * 50;
      font-size: 0.6rem;
      height: 1.5rem;
      width: 1.5rem;
      text-align: center;
      vertical-align: middle;
      background-color: rgba(255,255,255, 60%);
    }
  }

.text_01 {
    page: text_01;
    font-family:"Noto Serif JP";
    box-sizing: border-box;

    max-width: 140mm;
    margin: 0 auto;

    .text-header {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin-bottom: 2rem;
        padding: 1.6rem 0;
    }

    .text-main {
        columns: 2;
        column-gap: 8mm;
        text-align: justify;
        //margin-bottom: 3mm;
    }

    .social {
        position: absolute;
        top: 0;
        left: 110mm;
    }

    h1 {
        margin-top: 0;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 1.6rem;
    }

    section {
        margin-bottom: 2rem;
    }

    ul,
    ol {
        padding-inline-start: 1rem;
    }

    li {
        margin: 0;
        padding: 0;
    }

    figure {
        margin: 0;

        figcaption {
            text-align: left;
            margin-top: 0.5rem;
            font-size: 9pt;
            margin-bottom: 0;
        }
    }

    img {
        float: left;
        margin-top: 0mm;
        margin-left: 0mm;
        max-width: 146mm;
    }
}