@page text_01 {
    //margin-left: 18mm;
    //margin-right: 18mm;
    margin-top: 14.5mm; // 4mm + 3.5mm * 4
    margin-bottom: 31mm; // 3mm + 3.5mm * 7
}

// ページ番号
@page text_01:left {
    @top-left-corner {
      content: counter(page);
      top: 3.5mm * 67;
      left: 3mm + 3.5mm * 3;
      //left: 94mm;
      font-size: 0.6rem;
      height: 3.5mm;
      width: 3.5mm;
      text-align: center;
      vertical-align: middle;
      background-color: rgba(255,255,255, 60%);
    }
  }
  
  @page text_01:right {
    @top-left-corner {
      content: counter(page);
      top: 3.5mm * 67;
      left: 3mm + 3.5mm * 50;
      font-size: 0.6rem;
      height: 1.5rem;
      width: 1.5rem;
      text-align: center;
      vertical-align: middle;
      background-color: rgba(255,255,255, 60%);
    }
  }

.text_01 {
    page: text_01;
    box-sizing: border-box;

    max-width: 140mm;
    margin: 0 auto;

    .text-header {
        font-family:"Noto Serif JP";
        display: block;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin-bottom: 2rem;
        padding: 1.6rem 0;
        .text-title {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 0.25rem;
        }
        .text-author {
            font-size: 1.4rem;
            font-weight: 700;
        }
    }

    .text-main {
        font-family:"Noto Serif JP";
        columns: 2;
        column-gap: 8mm;
        column-fill: auto;
        text-align: justify;
        word-break: break-all;
        line-height: 5mm;
        p {
            text-indent: 1rem;
            margin-bottom: 0.05rem;
        }
    }

    .social {
        position: absolute;
        top: 0;
        left: 110mm;
    }

    h1 {
        margin-top: 0;
    }

    h2 {
        //margin:0;
        margin-top: 5mm;
        margin-bottom: 5mm;
        line-height: 5mm;
    }

    h2.first {
        margin-top: 0;
    }

    section {
        margin-bottom: 2rem;
    }

    ul,
    ol {
        padding-inline-start: 1rem;
    }

    li {
        margin: 0;
        padding: 0;
    }

    figure {
        margin: 0;

        figcaption {
            text-align: left;
            margin-top: 0.5rem;
            font-size: 9pt;
            margin-bottom: 0;
        }
    }

    img {
        float: left;
        margin-top: 0mm;
        margin-left: 0mm;
        max-width: 146mm;
    }

    pre {
        margin-top: 5mm;
        margin-bottom: 5mm;
        line-height:5mm;
        padding:2.5mm;
    }

        //--- Left

    
    .chapter-warapper-left {
        font-family: "Inter", "Noto Sans JP";
        position: absolute;
        top: 3.5mm * 4;
        margin-left: -3.5mm * 9;
        transform:rotate(90deg);
        display: inline-block;
        //width: 188mm;
        .chapter-bar {
            position: relative;
            display: inline-block;
            background-color: black;
            //border-top: 0.5mm solid black;
            //border-left: 0.5mm solid black;
            //border-right: 0.5mm solid black;
            width: 3.5mm * 11;
            height: 3.5mm * 6;
            top: 4mm + 3.5mm * 1;
            left: 3mm + 3.5mm * 2;
            padding: 0.3mm;
        }
        .chapter-number {
            position: relative;
            display: inline-block;
            top: 0;
            line-height: 3.5mm * 3;
            width: 100%;
            text-align: center;
            color: white;
            font-size: 1.2rem;
            letter-spacing: 0.05rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .chapter-title {
            position: relative;
            top: 3.5mm * 2;
            width: 3.5mm * 12;
            height: 3.5mm * 2;
            line-height: 3.5mm * 2;
            text-align: right;
            font-size: 6pt;
            //padding-right: 3mm + 7mm;
            //line-height: 1.5rem;
        }
        .chapter-text {
            position: relative;
            top: 3.5mm * 2;
            width: 3.5mm * 12;
            height: 4mm + 3.5mm * 2;
            text-align: right;
            //padding-right: 3mm + 7mm;
            line-height: 1.5rem;
        }
    }

    //--- Right

    .chapter-warapper-right {
        position: absolute;
        top: 3.5mm * 10;
        left: 3.5mm * 45;
        transform:rotate(270deg);
        display: inline-block;
        //width: 188mm;
        .chapter-bar {
            position: relative;
            display: inline-block;
            background-color: black;
            //border-top: 0.5mm solid black;
            //border-left: 0.5mm solid black;
            //border-right: 0.5mm solid black;
            width: 3.5mm * 11;
            height: 3.5mm * 6;
            top: 4mm + 3.5mm * 1;
            left: 3mm + 3.5mm * 2;
            padding: 0.3mm;
        }
        .chapter-number {
            position: relative;
            display: inline-block;
            top: 0;
            line-height: 3.5mm * 3;
            width: 100%;
            text-align: center;
            color: white;
            font-size: 1.2rem;
            letter-spacing: 0.05rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .chapter-title {
            position: relative;
            top: 3.5mm * 2;
            width: 3.5mm * 12;
            height: 3.5mm * 2;
            line-height: 3.5mm * 2;
            text-align: right;
            font-size: 6pt;
            //padding-right: 3mm + 7mm;
            //line-height: 1.5rem;
        }
        .chapter-text {
            position: relative;
            top: 3.5mm * 2;
            width: 3.5mm * 12;
            height: 4mm + 3.5mm * 2;
            text-align: right;
            //padding-right: 3mm + 7mm;
            line-height: 1.5rem;
        }
    }
}